* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:#060AB2;
    color: white;
    font-size: 20px;
}

button{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.cards-table{
    width: 440px;
    height: 440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* perspective: 1000px; */
}

.card{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active{
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip{
    transform: rotateY(180deg);
}

.front-side,.back-side{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
}

.front-side{
    transform: rotateY(180deg);
}

.board{
    width: 440px;
    height: 85px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.start-btn{
    cursor: pointer;
    border: none;
    background: transparent;
}

.start-btn:hover{
    color:lavender;
}


